<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Lista de Planetas</h2>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load_planetas" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>ID Planeta</th>
                    <th>Nome</th>
                    <th>Rotação</th>
                    <th>Orbita</th>
                    <th>Diâmetro</th>
                    <th>Clima</th>
                    <th>População</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/planetaList.js"></script>
}