<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Lista de Naves</h2>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load_naves" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>Nave ID</th>
                    <th>Nome</th>
                    <th>Modelo</th>
                    <th>Passageiros</th>
                    <th>Carga</th>
                    <th>Classe</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/naveList.js"></script>
}